<div class="panel  col-md-12 filter-panel" style="padding-top: 20px">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		             <div class="panel">	                 
		                 <div class="panel-body">
		                 	
		                    <div class="room-desc  form-group" >
		                    	<label for="inputName">{{pageName}} Name</label>
		                         <input type="text" data-ng-model="vitalData.vitalName" typeahead="patients.name for patients in getPatients($viewValue)"  class="form-control" placeholder="Search Patients" typeahead-on-select='onSelectPatient($item, $model, $label)'/>
		                         <button data-ng-show="addByName" data-ng-click="addAppByName">Add</button>
		                         
		                    </div>
		                 </div>
		             </div>
		         </div>
		         
		         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		             <div class="panel">	                 
		                 <div class="panel-body">
		                    <div class="room-desc  form-group">	
		                         <label for="inputName">Prescription Display name</label><span class="pull-right"><input type="checkbox" data-ng-model="vitalSameAS" data-ng-click="vitalData.shortName = vitalData.vitalName">Same AS Vital Name</span> 
		                         <input type="text" class="form-control input-sm typeahead" data-ng-model="vitalData.shortName" maxlength="45" />
		                    </div>
		                 </div>
		             </div>
		         </div>
		         
		
		<button class="pull-right">ADD to List</button>
</div>

			<div class="row geninfo">
				<div class="col-xs-12">
					<div class="panel" style="margin-top:20px">  
						<div class="panel-body" >
							<div class="text-muted form-group">{{pageName}}<span><button class="pull-right" data-ng-click="saveVital(prescribedVitalData)">Save</button></div>                             
								<div class="list-item col-sm-6 col-md-6 col-lg-6" data-ng-repeat="vital in prescribedVitalData">
									<div>
										<table>
											<tbody>
												<tr>
													<td>{{vital.vitalName}}</td>
													<td><input type="text" data-ng-model="vital.vitalResult"><button data-ng-click="bringVitalOption(vital)">+</button></td>
													<td>
														<select size="5" data-ng-model="vital.optionSelector" data-ng-show="vital.optionListON" ng-options="vitalOption.name for vitalOption in vital.optionList" data-ng-click="performVital(vital)"></select>
														<input type="text" data-ng-show="vital.optionAdderON" data-ng-model="vital.optionAdder">
														<button data-ng-show="vital.optionAdderON" data-ng-click="addVitalOption(vital)">ADD</button>
														<button data-ng-show="vital.optionAdderON" data-ng-click="vital.optionAdderON = false">Cancel</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									
								</div>
								<button class="pull-right" data-ng-show="prescribedVitalData.length > 20" data-ng-click="saveVital(prescribedVitalData)">Save</button>
						</div>
					</div>
				</div>
			</div>