<div class="modal-header modalHead ">
	<h4 class="modal-title">Add New Patient</h4>
</div>
<div class="modal-body modalBody"  style="position:relative; z-index:1;">
	<div class="alert alert-danger alert-dismissable" data-ng-show="error">
        <div>{{errorMessage}}</div>
        <div id="lblMsg_modal"></div>
    </div>


    	<div  class="row step4Width" id="validateReq">
   			<div class="form-group col-xs-12 col-sm-12">
   				<label>Inv Name: <span class="red" >*</span></label>
   				<input type='text'  data-ng-model="invName" class='adderNameInv form-control input-sm required' onkeyup='lookupInv(this.value)' errmsg="Please select Inv"/>
				<div class='suggetionBoxInv' ></div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-12" >
				<label>Note:</label> 
				<input class="form-control" type="text" maxlength="255" data-ng-model="postData.note" errmsg="Please enter patient age">
			</div>
    	</div>
	
</div>
<div class="modal-footer modalFoot">
	<button class="btn btnLanier btn-success" data-ng-click="createInvSetting()" ><i class="fa"></i> Save</button>
	<button class="btn btnLanier btn-warning" data-ng-click="cancel()" ><i class="fa"></i> Cancel</button>
</div>