
 
<div class="panel  col-md-12 filter-panel" style="padding-top: 20px" id="historySetting">
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
         <div class="panel">	                 
             <div class="panel-body">
             	
                <div class="room-desc  form-group" >
                	<label for="inputName">Disease Name</label>
                      <input type='text'  data-ng-model="diagnosisName" class='diagnosisAdderName form-control input-sm' onkeyup='lookup(this.value)'/>
						<div class='suggetionBox' ></div>
                </div>
             </div>
         </div>
     </div>
	         
       <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
           <div class="panel">	                 
               <div class="panel-body">
                  <div class="room-desc  form-group">	
                       <label for="inputName">Detail</label>
                       <input type="text" class="form-control input-sm" data-ng-model="diagnosisNote" maxlength="255" />
                  </div>
               </div>
           </div>
       </div>
       
       <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
           <div class="panel">	                 
               <div class="panel-body">
                  <div class="room-desc  form-group">	
                       <label for="inputName">Action</label><br>
                       <button class="btn btn-success" data-ng-click="saveDiagnosis(diagnosisData)" data-ng-disabled="diagnosisData.name < 2">
							<span class="glyphicons glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
						</button>
                  </div>
               </div>
           </div>
       </div>
	         
	
	
</div>