<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group"><label>Reffred Doctor :</label></div>

        <div class="input-group input-group-sm" data-ng-if="!refferedDoctorData.id">
            <input type="text" data-ng-model="refferedAdderData.doctorName" typeahead="refDoc.doctorName for refDoc in getRefDoctor($viewValue)"  class="form-control" placeholder="Search Doctor" typeahead-on-select='onSelectRefDocotor($item, $model, $label)'/>
            <input type="text" data-ng-model="refferedAdderData.doctorAdress" class="form-control" placeholder="Doctor Address"/>
            <button class="btn btnLanier btn-success" title="Save" data-ng-show="refferedAdderData.doctorAdress && refferedAdderData.doctorName" data-ng-click="saveReffredDoctor(refferedAdderData)">
                <span class="glyphicons glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            </button>
        </div>

        <div class="input-group input-group-sm" data-ng-if="refferedDoctorData.id">
            <span data-ng-click="deleteReffredDoctor(refferedDoctorData.id)" class="glyphicons glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span>{{refferedDoctorData.doctorName}} - {{refferedDoctorData.doctorAdress}}</span>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            <label>Next Visit</label>
            <span class="pull-right">
									<button class="btn btn-info btn-sm" data-ng-show="nextVisitData.nextVisitType != 2" data-ng-click="nextVisitData.nextVisitType = 2;nextVisitData.needSaveButton = true">By Day</button>
									<button class="btn btn-info btn-sm" data-ng-show="nextVisitData.nextVisitType == 2" data-ng-click="nextVisitData.nextVisitType = 1">By Date</button>
								</span>
        </div>
        <div class="input-group input-group-sm" data-ng-show="nextVisitData.nextVisitType != 2">

            <input type="text"  data-ng-model="nextVisitData.date" data-ng-change="fixNextVisit()" class="form-control form-control-date input-sm"  maxlength="100" placeholder="Next Visit Date"
                   datepicker-popup="dd/MM/yyyy" close-text="Close" is_open="dt1" ng-focus="dt1 = true" ng-click="dt1 = true" >

            <!--LOL
            <input type="text"  class="form-control date" id="txtStartDate" placeholder="Next Visit Date" ng-change="fixNextVisit()" datepicker-popup="dd/MM/yyyy" close-text="Close" ng-model="nextVisitData.date" is-open="false"/>-->
            <span  class="input-group-addon" >
									<i class="glyphicon glyphicon-calendar" ></i>
								</span>
        </div>

        <div class="form-group" data-ng-show="nextVisitData.nextVisitType == 2" >
            <label>After:</label>
            <button class="btn btnLanier btn-success pull-right" data-ng-show="nextVisitData.needSaveButton" title="Save" data-ng-show="true" data-ng-click="fixNextVisit()">
                <span class="glyphicons glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            </button>
            <select class="form-control"  data-ng-model="nextVisitData.numOfDay"  data-ng-options="drugDay.name for drugDay in dayList" data-ng-change="nextVisitData.needSaveButton = true">
            </select>
            <select class="form-control"   data-ng-model="nextVisitData.dayType" data-ng-options="drugTime.english for drugTime in dayTypeList" data-ng-change="nextVisitData.needSaveButton = true">
            </select>
        </div>
    </div>


</div>


