<nav class="navbar navbar-default navbar-fixed-bottom  navbar-ktr-footer" role="navigation">
  <div class="container-fluid" style="text-align: center;">
	<div class="row">
  		<div class="hidden-xs col-sm-6 col-md-4 col-lg-4 text-left">
  			<img class="img-responsive client-logo" alt="{{secLogoImage.shortName}}" src="{{secLogoImage.contentURL}}"/>
  		</div>
  		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
  			<span>&copy; 2010-2015</span>
   			<span class="ktr-credit"><img src="images/ktr-travel.png" alt="Kaitair Travel" /></span>
  		</div>
  		<div class="hidden-xs hidden-sm col-md-4 col-lg-4 text-right">
  			<!-- Nothing now -->
  		</div>   	
  	</div>	
  </div>
</nav>


