<div class="panel  col-md-12 filter-panel" style="padding-top: 20px">
		<button class="pull-right btn btn-info" data-ng-click="docTorAdviceAdder = !docTorAdviceAdder"><span class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span> Setteing</button>
</div>
<section  data-ng-show="docTorAdviceAdder" class=" contacts row" id="generalInfoContact">
	<div  class="col-xs-12 col-sm-12 col-md-10 col-lg-2">
         <div class="panel">	                 
             <div class="panel-body">
             	<div class="text-muted form-group">Language</div>	                    
                <div class="room-desc">	
                     <select data-ng-model="adviceAdderData.lang" class="form-control">
                     	<option value="0" selected="selected">English</option>
                     	<option value="1" >Bangla</option>
                     </select>
                </div>
             </div>
         </div>
     </div>

     <div  class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
         <div class="panel">	                 
             <div class="panel-body">
             	<div class="text-muted form-group">By Name</div>	                    
                <div class="room-desc">	
                     <input type="text" data-ng-model="adviceAdderData.name" typeahead="adviceNameData.advice for adviceNameData in getAdvcieName($viewValue)"  class="form-control" placeholder="Add advice to Setting" typeahead-on-select='onSelectAdviceName($item, $model, $label)'/>
                </div>
             </div>
         </div>
     </div>
     <div  class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
         <div class="panel">	                 
             <div class="panel-body">
             	<div class="text-muted form-group">Action</div>	                    
                <div class="room-desc">	
                     <button  data-ng-click="prepareDoctorSettingData()" class="btn btn-primary" > <span class='glyphicon glyphicon glyphicon-plus' aria-hidden='true'></span> Add</button>
                </div>
             </div>
         </div>
     </div>
</section>

<div class="panel  col-md-12 filter-panel" style="padding-top: 20px">
	<div class="list-item col-sm-4 col-md-4 col-lg-4" data-ng-repeat="adviceData in advieSettingList" style="padding-bottom: 10px">
		<span><a class="btn btn-danger btn-sm btnLanier"
                  ktr-confirmation="delAdviceFromSetting(item)" 
                  confirmation-message="Are you sure to remove?"
                  confirmation-title="Confirmation"
                  item="adviceData.id">
                  <span class="glyphicons glyphicon glyphicon-remove" aria-hidden="true"></span>
               </a>
		</span>
		<span>{{adviceData.advice}}</span>
	</div>
</div>